.container {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    justify-content: center;
    width:100%;
}

.content-container {
    width: 40%;
    height: auto;
    margin:10px;
    background-color: transparent;

}